PUID=1000
PGID=1000

POSTGRES_IMAGE=postgres:17
TRANSMISSION_IMAGE=linuxserver/transmission:4.1.0
PGADMIN_IMAGE=dpage/pgadmin4:9.12.0

POSTGRES_USER=se
POSTGRES_PASSWORD=sepass
POSTGRES_DB=postgres
POSTGRES_CPUS=8.0
PG_PORT=5432

TRANSMISSION_PORT=9091

PGADMIN_PORT=8081
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=adminpass
